# Data and large artifacts
data/raw/**
data/interim/**
data/processed/**
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/interim/
!data/interim/aau-zebrafish-reid/
!data/interim/aau-zebrafish-reid/**

# Kaggle credentials
kaggle.json

# Python
__pycache__/
*.pyc
.venv/

# Training artifacts
models/
yolo*.pt
